html, body {
    margin: 0;
    padding: 50px 0 0 0;
    font-family: Montserrat, sans-serif;
}

body {
    background: #f1f1f1;
}

header {
    margin-bottom: 100px;
}

ul {
    margin-top: 50px;
    list-style-type: none;
}

ul li {
    margin-bottom: 20px;
}

img {
    border: 1px solid black;
    width: 200px;
}

p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.05em;
}

h1 {
    font-weight: bold;
}

h1 {
    margin-top: .5em;
}

header h1 {
    margin-bottom: 1.4em;
    margin-top: 0;
}

.btn {
    border: 1px solid royalblue;
    border-radius: 3%;
    margin-top: 1.4em;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    background: white;
    color: royalblue;
    font-weight: bold;
    margin-bottom: 1.4em;

}

.btn:hover {
    background: royalblue;
    color: white;
}

.wrapper_shadow {
    box-shadow: 5px 8px 10px 0 #656565;
    padding-left: 25px;
}

.parcours_wrapper {
    background-color: white;
    margin-bottom: 70px;
}

.parcours li {
    margin-bottom: 1.4em;
}

.dates {
    font-weight: bold;
}

.dates, h1 {
    color: royalblue;
}

.p50 {
    padding: 50px;
    box-sizing: border-box;
}


#coords_wrapper {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 5%;
    padding-right: 5%;
}

#coords p[class="col-sm-5"] {
    font-weight: bold;
    color: royalblue;
}

#photo {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coords {
    margin-top: 50px;
}

#header_fix {
    padding: 50px;
    background: white;
}

#social {
    height: 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    font-size: 3em;
    align-items: center;
}

#social i:hover {
    color: #84afe1;
}

#mail {
    margin-bottom: 20px;
}

#exp_wrapper, #form_wrapper, #comp_wrapper {
    border-top: 1px solid royalblue;
    padding-bottom: 1.5em;
}